# commented out are larger packages you need to look into to install
#python                    3.7.6         
basemap==1.3.0
basemap-data-hires==1.2.1
beautifulsoup4==4.9.0
bitarray==1.2.1 
bokeh==2.0.1 
contextily
descartes==1.1.0                    
fiona==1.8.13          
flask==1.1.2              
folium==0.10.1                   
fontconfig==2.13.1            
freetype==2.10.1               
# gdal==3.0.4            
geographiclib==1.50                       
geojson==2.5.0                      
# geopandas==0.7.0            
geopy==1.21.0                    
geos==3.8.1                
geotiff==1.5.1             
glob2==0.7                        
gmaps==0.9.0                      
gmp==6.2.0                
googlemaps==2.5.1                      
great-circle-calculator==1.1.0                    
haversine==2.2.0                    
imageio==2.8.0                      
imagesize==1.2.0                      
imbalanced-learn==0.6.2                      
intel-openmp==2019.4                                                              
jpeg==9c                
json-c== 0.13.1           
json5==0.9.0                      
jsonschema==3.2.0                            
kiwisolver==1.2.0            
MarkupSafe==1.1.1
matplotlib==3.2.1                        
matplotlib-scalebar==0.6.2                    
mlrose==1.3.0                 
more-itertools==8.2.0                   
nbconvert==5.5.0
nbformat==4.4.0
nodejs==13.13.0              
notebook==6.0.3                    
numpy==1.18.1          
openjpeg==2.3.1                
ortools==7.5.7466               
pandas==1.0.3           
path==13.1.0                 
pillow==7.1.1            
#pip==20.0.2                    
plotly==4.6.0
plotly-orca==3.3.5                       
ply==3.11                      
proj==7.0.0                              
pyyaml==5.3.1              
rasterio==1.1.3      
requests==2.23.0   
scikit-image==0.16.2  
scikit-learn==0.22.1      
scipy==1.4.1     
seaborn==0.10.0             
shapely==1.7.0    
sklearn      
statsmodels==0.11.1   
tsp-solver2==0.3     
urllib3==1.25.9 
