# commented out are larger packages you need to look into to install
#python                    3.7.6         
#basemap
#basemap-data-hires
beautifulsoup4 
bokeh
contextily
descartes                 
fiona          
flask              
folium                                
# gdal==3.0.4            
geojson                      
geopandas           
geopy                  
geos                
glob2                        
gmaps                      
googlemaps                      
great-circle-calculator==1.1.0                    
haversine==2.2.0                    
imageio==2.8.0                      
imagesize==1.2.0                      
imbalanced-learn==0.6.2                      
intel-openmp                                                             
matplotlib                     
matplotlib-scalebar                    
mlrose                                        
numpy          
ortools==7.5.7466               
pandas          
path               
pillow          
#pip==20.0.2                    
plotly                                       
rasterio      
requests 
scikit-image 
scikit-learn     
scipy    
seaborn            
shapely  
sklearn      
statsmodels 
#tsp-solver2==0.3     